.vscode/browse.vc.db
.vscode/browse.vc.db-shm
.vscode/browse.vc.db-wal
.vscode/c_cpp_properties.json
.vscode/settings.json
deb-build/digital-circuit-simulator_0.1.0_all/DEBIAN/control
deb-build/digital-circuit-simulator_0.1.0_all/opt/digital-circuit-simulator/circuitsim.jar
deb-build/digital-circuit-simulator_0.1.0_all/usr/bin/circuitsim
deb-build/digital-circuit-simulator_0.1.0_all/usr/share/applications/circuitsim.desktop
